.itemList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
    
}
.card{
    display: flex;
    align-items: center;
    margin: 50px;
    width: 20vw;
    height: 70vh;
    box-shadow: 0px 0px 5px 0px white;
}
.card img{
    height: 40vh;
    width: 100%;
}
.card-body{
    max-width:18vw;
    text-decoration: none;
    display: flex;
    margin: auto;
    align-items: center;
    padding-right: 0px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    overflow: auto;
}
.card-body::-webkit-scrollbar {
    background-color: transparent;
}
.card-description{
    height: 10vh;
}
.CardList{
    display: flex;
    flex-direction: column;
}
.CardBtn{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50px;
    color: rgba(39, 14, 2, 0.774);
    background-color: white;
    font-size: 1.25rem;
    font-weight: bold;
    &:hover{
        box-shadow: 0px 0px 10px;
        color: white;
        background-color: rgba(39, 14, 2, 0.774);
    }
}
