.itemList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
}
.card{
    display: flex;
    align-items: center;
    margin: 50px;
    width: 20vw;
    height: 70vh;
    box-shadow: 0px 0px 5px 0px white;
}
.card img{
    height: 40vh;
    width: 100%;
}
.card-body{
    padding: 0px;
    max-width:18vw;
    text-decoration: none;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    overflow: auto;
}
.card-body::-webkit-scrollbar {
    background-color: transparent;
}
.card-description{
    height: auto;
    width: auto;
}
.card-product{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
    .card{
        display: flex;
        align-items: center;
        margin: 50px;
        width: 70vw;
        height: auto;
        box-shadow: 0px 0px 5px 0px white;
    }
    .itemList{
        padding: 0;
    }
    .card img{
        height: 20vh;
        width: auto;
    }
    .card-body{
        max-width:none;
        width: auto;
    }
}
