.backBtn{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 50px;
    width: 7rem;
    border-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 100px 10px 10px 100px;
    &:hover{
        background-color: white;
        color: black;
    }
}
@media screen and (min-width: 0px) and (max-width: 992px) {
    .backBtn{
        display: none;
    }
}