.fa-cart-shopping{
    width: 1vw;
    color: white;
}
.notificacion{
    color:white;
    background-color: red;
    position:absolute;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    font-size: small;
    justify-content:center;
    align-items: center;
    top: 0;
    right: 0;
    font-weight: 700;
}


@media screen and (min-width: 0px) and (max-width: 992px) {
    .fa-cart-shopping{
        width: auto;
    }
    
}