.cart_widget{
    .fa-cart-shopping{
        width: 1vw;
        color: rgb(31, 30, 30);
    }
    .notificacion{
        display: flex;
        color:white;
        background-color: red;
        position:absolute;
        border-radius: 100%;
        width: 17px;
        height: 17px;
        font-size: small;
        justify-content:center;
        align-items: center;
        top: 0;
        right: 5px;
        font-weight: 700;
    }
}