.cart_widget{
    .fa-cart-shopping{
        width: 1vw;
    }
    .notificacion{
        display: flex;
        background-color: red;
        position:absolute;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        font-size: small;
        justify-content:center;
        align-items: center;
        top: 0;
        right: 5px;
        font-weight: 700;
    }
}