.dropdownToggle{
    background-color: transparent;
    font-weight: bold;
    border: none;
    position: relative;
    &:focus{
        color: rgb(224, 178, 60);
    };
    
}
.dropdownMenu{
    position: absolute;
    text-align: center;
    right: 100px;
    background-color: rgb(49, 48, 48);
}

.dropdownItem{
    color:rgb(224, 178, 60);
    text-decoration: none;
    &:hover{
        color: rgb(224, 178, 60);
    };
}