.dropdownToggle{
    background-color: transparent;
    font-weight: bold;
    border: none;
    
}
.dropdownMenu{
    text-align: center;
    background-color: rgb(49, 48, 48);
}

.dropdownItem{
    color:white;
    text-decoration: none;
    &:hover{
        color: rgb(224, 178, 60);
    };
}

@media screen and (min-width: 0px) and (max-width: 992px) {
    .dropdownToggle{
        margin: 20px 0;
    }
    
}