.nav{
    display: flex;
    height: 8vh;
    background-color:rgb(31, 30, 30);
    color: white ;
    padding: 0 ;
    box-shadow: 1px 1px 1px black;
    flex-direction:row ;
}
.nav-h1{
    color:white ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-item{
    margin: 0 20px;
}
.nav-link{
    font-size: 1.25rem;
    text-decoration: none;
    &:hover,&:focus{
        color:rgb(49, 124, 114);
    }; 
}
@media screen and (min-width: 0px) and (max-width: 992px) {
    .nav{
        background-color:rgb(31, 30, 30) ;
        color: white;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
        margin: 15px;
        justify-content: center;
        align-items: center;
    }
    .navbar-collapse{
        display: flex;
        flex-direction: column;
    }
    .nav-item{
        display: flex;
        justify-content: center;
        height: 8vh;
        align-items: center;
    }
    .container-fluid{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}