.nav{
    display: flex;
    height: 8vh;
    background-color:white ;
    color: rgb(31, 30, 30);
    padding: 0 ;
    box-shadow: 1px 1px 1px black;
}
h1{
    color:rgb(31, 30, 30) ;
    font-family: 'Playfair Display', serif;
}
.nav-link{
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: rgb(31, 30, 30);
    &:hover,&:focus{
        color:rgb(224, 178, 60);
    };
    
}